<!DOCTYPE html>
<html>
<head>
<title>校验员工订餐情况</title>

<meta name="keywords" content="keyword1,keyword2,keyword3" />
<meta name="description" content="this is my page" />
<meta name="content-type" content="text/html; charset=UTF-8" />

<script type="text/javascript">
	window.onload = function() {
		var sub = document.getElementById("uname");
		var check = document.getElementById("check");
		var btn = document.getElementById("btn");
		btn.onclick = function() {
			if (sub.value == "" | sub.value == undefined) {
				check.style.color = "red";
				check.innerText = "名字不能为空";
			} else {
				window.location.href = "/cz/login/user/" + sub.value;
			}
		}
		btn1.onclick = function() {
			if (sub.value == "" | sub.value == undefined) {
				check.style.color = "red";
				check.innerText = "名字不能为空";
			} else {
				window.location.href = "/cz/update/login/user/" + sub.value;
			}
		}
	}
</script>
</head>

<body>
 <div th:include="navigation"></div>
	<label for="uname">员工名字:</label>
	<input id="uname" type="text" name="username" />
	<button id="btn">确定</button>
	<button id="btn1">更换当日点餐</button>
	<span id="check"></span>
</body>
</html>
