<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Title</title>
<style>
* {
	padding: 0;
	margin: 0;
}

p {
	color: red;
}

table {
	border-collapse: collapse;
	text-align: center;
}

table td, table th {
	border: 1px solid #cad9ea;
	color: #666;
	height: 10px;
}

table thead th {
	background-color: #CCE8EB;
	width: 100px;
}

table tr:nth-child(odd) {
	background: #fff;
}

table tr:nth-child(even) {
	background: #F5FAFA;
}
</style>
<link rel="stylesheet"
	href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script
	src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script th:inline="javascript">
	$(function() {
		var s = $("input[name='check']");
		var check_val = new Array();
		s.each(function(i) {
			$(this).click(function() {
				if (this.checked == true) {
					check_val.push(this.value);
				}
				if (this.checked == false) {
					var index = check_val.indexOf(this.value);
					if (index > -1) {
						check_val.splice(index, 1);
					}
				}
			});
		});
		btn.onclick = function() {

			if (check_val.length <= 0) {
				alert("请选择您要吃的菜");
			} else {
				document.getElementById("checkValues").value = check_val;
				document.sub.submit();
			}
		}
	});
	$(document).ready(function() {
		$('#myTable').DataTable({
			language : {
				"sProcessing" : "处理中...",
				"sLengthMenu" : "显示 _MENU_ 项结果",
				"sZeroRecords" : "没有匹配结果",
				"sInfo" : "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
				"sInfoEmpty" : "显示第 0 至 0 项结果，共 0 项",
				"sInfoFiltered" : "(由 _MAX_ 项结果过滤)",
				"sInfoPostFix" : "",
				"sSearch" : "搜索:",
				"sUrl" : "",
				"sEmptyTable" : "表中数据为空",
				"sLoadingRecords" : "载入中...",
				"sInfoThousands" : ",",
				"oPaginate" : {
					"sFirst" : "首页",
					"sPrevious" : "上页",
					"sNext" : "下页",
					"sLast" : "末页"
				},
				"oAria" : {
					"sSortAscending" : ": 以升序排列此列",
					"sSortDescending" : ": 以降序排列此列"
				}
			}
		});
	});
</script>
</head>
<body>
	<div th:include="navigation"></div>
	<p th:text="${msg}">...</p>
	<button id="btn">确认点餐</button>
	<form action="/cz/czbook/user/cook" method="post" name="sub">
		<input type="hidden" th:value="${userId}" id="userId" name="userId" />
		<input type="hidden" id="checkValues" name="check_val" />
		<table class="hover" border="1" id="myTable"
			style="height:50%;width:70%">
			<thead>
				<tr>
					<th>餐厅编号</th>
					<th>餐厅名称</th>
					<th>菜编号</th>
					<th>菜</th>
					<th>价格</th>
					<th>单拼价格</th>
					<th>订餐电话</th>
					<th>请选择</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cookBook: ${cookBooks}">
					<td th:text="${cookBook.restauranId}">...</td>
					<td th:text="${cookBook.restaurant.name}">...</td>
					<td th:text="${cookBook.id}">...</td>
					<td th:text="${cookBook.cookname}">...</td>
					<td th:text="${cookBook.price}" name="price_name">...</td>
					<td th:text="${cookBook.salePrice}">此商品没有单拼价格</td>
					<td th:text="${cookBook.restaurant.telephoneNumber}">...</td>
					<td><input type="checkbox" th:value="${cookBook.id}"
						name="check" /></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>
