<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>首页</title>
<style type="text/css">
.div_1 {
	float: left;
}

.div_2 {
	float: right;
}

table {
	border-collapse: collapse;
	text-align: center;
}

table td, table th {
	border: 1px solid #cad9ea;
	color: #666;
	height: 30px;
}

table thead th {
	background-color: #CCE8EB;
	width: 100px;
}

table tr:nth-child(odd) {
	background: #fff;
}

table tr:nth-child(even) {
	background: #F5FAFA;
}

ul {
	list-style: none;
}

ul li {
	float: left;
}
</style>
<script th:inline="javascript">
</script>
	<link rel="icon" type="image/x-icon" th:href="@{/restaurant.ico}">
</head>
<body>
 <div th:include="navigation"></div>
	<br />
	<span style="color: red" th:text="${message}"></span>
	<br />
	<br />
	<br />
 <div class="div_1">
	<table border="1">
			<thead>
            <tr>
                <th colspan="6">今日点餐详情</th>
            </tr>
				<tr>
					<th>员工姓名</th>
					<th>菜名</th>
					<th>总价</th>
					<th>订餐时间</th>
					<th>餐厅电话</th>
					<th>餐厅名称</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${userBookList}">
					<td th:text="${userMap.get(item.userId)}">...</td>
					<td th:text="${cookBookMap.get(item.bookId).cookname}">...</td>
					<th th:text="${item.price}">...</th>
					<th
						th:text="${#dates.format(item.foodDateFormat,'yyyy-MM-dd HH:mm:ss')}">...</th>
					<th
						th:text="${restaurantMap.get(cookBookMap.get(item.bookId).restauranId).TelephoneNumber}">...</th>
					<td
						th:text="${restaurantMap.get(cookBookMap.get(item.bookId).restauranId).Name}">...</td>
				</tr>
			</tbody>
	</table>
 </div>
	<div class="div_2">
		<table border="1">
            <thead>
            <tr>
            <th colspan="6">今日点餐汇总</th>
            </tr>
            <tr>
					<th>菜名</th>
					<th>餐厅名称</th>
					<th>餐厅电话</th>
					<th>单价</th>
					<th>订餐时间</th>
					<th>数量</th>
				</tr>
			</thead>
            <tbody>
				<tr th:each="items: ${CookBookDayAll}">
					<td th:text="${items.cookname}">...</td>
					<td th:text="${items.name}">...</td>
					<th th:text="${items.telephoneNumber}">...</th>
					<th th:text="${items.price}">...</th>
					<th th:text="${#dates.format(items.updateTime,'yyyy-MM-dd')}">...</th>
					<th th:text="${items.count}">...</th>
				</tr>
			</tbody>
        </table>
	</div>
</body>
</html>