<!DOCTYPE html>
<html>
<head>
<title>上传响应</title>

<meta name="keywords" content="keyword1,keyword2,keyword3" />
<meta name="description" content="this is my page" />
<meta name="content-type" content="text/html; charset=UTF-8" />
<!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
</script>

</head>

<body>
<div th:include="navigation"></div>
	<span style="color: red" th:text="${message}"></span>
</body>
</html>
