<!DOCTYPE html>
<html>
<head>
    <title>updatecook.html</title>

    <meta name="keywords" content="keyword1,keyword2,keyword3"/>
    <meta name="description" content="this is my page"/>
    <meta name="content-type" content="text/html; charset=UTF-8"/>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script th:inline="javascript">
        $(function () {
            btn.onclick = function () {
                if (window.confirm('确定要返回主页面吗')) {
                    window.location.href = '/cz/login';
                } else {
                    return false;
                }
            }
            $(".delete").on("click", function () {
                var data = this.attributes["data"].value;
                $.ajax({
                    url: "/cz/update/user/book",
                    data: {
                        "data": data
                    },
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        if (data.message > 0) {
                            window.location.reload();
                        }
                    },
                    error: function () {
                        alert("已过17:00,不可再更改");
                    }
                });
            })
        })
    </script>
</head>
<body>
<button id="btn">返回主页面</button>
<table border="1">
    <thead>
    <tr>
        <th>员工姓名</th>
        <th>菜名</th>
        <th>价格</th>
        <th>订餐时间</th>
        <th>餐厅电话</th>
        <th>餐厅名称</th>
        <th>取消订单</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${userBookList}">
        <td th:text="${userMap.get(item.userId)}">...</td>
        <td th:text="${cookBookMap.get(item.bookId).cookname}">...</td>
        <th th:text="${item.price}">...</th>
        <th th:text="${#dates.format(item.foodDateFormat,'yyyy-MM-dd HH:mm:ss')}">...</th>
        <th th:text="${restaurantMap.get(cookBookMap.get(item.bookId).restauranId).TelephoneNumber}">...</th>
        <td th:text="${restaurantMap.get(cookBookMap.get(item.bookId).restauranId).Name}">...</td>
        <td><a class="delete" href="javascript:void(0);" th:data="${item.userBookId}" id="a_herf">更改该订单</a></td>
    </tr>
    </tbody>
</table>
</html>
